.header-container {
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-image {
    max-width: 100%;
}

.Typewriter {
    padding-top: 55vh;
    font-size: 52px;
    color: #ffa580;
}